.navbar{
    margin-top: 30px;
    padding: 8px;
    margin-bottom: 8px;
    padding-bottom: 0px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.navbar li {
    float: left;
}

.navbar li * {
    display: block;
    padding: .1rem 1.9rem 1rem 1.9rem;
    color: white;
    text-decoration: none;
}

.navbar li a:hover {
    text-decoration: underline;
}